.warning-btn {
    background-color: #ffe08a;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}

.danger-btn {
    background-color: #f14668;
    border-color: transparent;
    color: #fff;
}

.success-btn {
    background-color: #48c78e;
    border-color: transparent;
    color: #fff;
}

.info-btn {
    background-color: #3e8ed0;
    border-color: transparent;
    color: #fff;
}