@import "./spacing";
@import "./mixins";

.text-center {
    text-align: center;
}

.fa-heart {
    color: hsl(345, 67%, 55%);
}

.clickable {
    &:hover {
        cursor: pointer;
    }
}

svg {
    &:hover {
        color:  hsl(204, 86%, 53%);
    }
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}